In [ ]:
df

In [ ]:
cols = df.columns[2:13]
df_selec_staring = df[['gu_name', 'dong_name']]
warnings.filterwarnings(action='ignore')
for col in cols:
    df_selec_staring[col] = pd.qcut(df[col], 10, labels=False, duplicates = 'drop')
warnings.filterwarnings(action='default')

In [ ]:
df_selec_staring['total_star'] = df_selec_staring.iloc[:, 2:].sum(axis=1)
df_selec_staring

In [ ]:
df_selec_staring.groupby(['gu_name', 'dong_name'])

# ì§€ì—­ì¶”ì²œ ì•Œê³ ë¦¬ì¦˜ - Simple Aggregate

__í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬__

In [1]:
import pandas as pd
import numpy as np
import warnings

import psycopg2   
import sql
from sqlalchemy import create_engine

In [ ]:
user = 'postgres' # postgresql DB user ID
password = '7089' # password
host_product = '192.168.0.27' # ì„œë²„ IP 
dbname = 'seoul' # DB Name
port='5432' # port number

product_connection_string = "dbname={dbname} user={user} host={host} password={password} port={port}".format(dbname=dbname,
                                    user=user,
                                    host=host_product,
                                    password=password,
                                    port=port)

In [ ]:
def gu_uj_df_from_db(gu_selec, uj_selec):
    try:
        conn = psycopg2.connect(product_connection_string)
    except:
        print("I am unable to connect to the database")

    cur = conn.cursor() 
    # ì—¬ê¸°ê¹Œì§€ DBì ‘ì†ì„ ìœ„í•´ì„œ í•­ìƒ í•„ìš” 
    
    gu_uj_query = ""
    # DBì˜ tableì„ DataFrameìœ¼ë¡œ ê°€ì ¸ì˜¤ê¸°
    cur.execute("SELECT * FROM mpop.move_pop;") # table_nm í…Œì´ë¸” select 

#     table_nm = pd.DataFrame(cur.fetchall())
#     table_nm.columns = [desc[0] for desc in cur.description] # ì»¬ëŸ¼ëª… ê°€ì ¸ì˜¤ê³  ì‹¶ì„ë•Œ ì‚¬ìš© 
    return pd.DataFrame(cur.fetchall())

## aggregateëœ database view table ë¶ˆëŸ¬ì˜¤ê¸°

In [2]:
df = pd.read_csv('star_table.csv')

## ê²€ìƒ‰ì¡°ê±´ ì ìš© í›„, scoring

> __í•¨ìˆ˜ëª…__ : star_list_poc  
> __íŒŒë¼ë¯¸í„°__ : df 
> > aggregateëœ DataFrame

In [3]:
def star_list_poc(df):
    # í•„ìš” ë¦¬ìŠ¤íŠ¸ ì„¤ì •
    upjong_cols = df.columns[13:].to_list()
    agg_cols = df.columns[2:13].to_list()
    gu_list = list(df.gu_name.unique())
    
    # ì…ë ¥ë°›ê¸°
    print("âœ” êµ¬ë¥¼ ì„ íƒí•˜ì‹œì˜¤")
    [print(u, end=' | ') for u in gu_list]
    print()
    gu_selec = input()

    print()
    print("âœ” ì—…ì¢…ì„ ì„ íƒí•˜ì‹œì˜¤")
    [print(u, end=' | ') for u in upjong_cols]
    print()
    uj_selec = input()
    
    print()
    print('ğŸ“Š %sì˜'%gu_selec, uj_selec, 'ì—…ì¢… ì¶”ì²œì§€ì—­ Top10 ê²°ê³¼ ğŸ“Š')
    # ì„ íƒëœ í…Œì´ë¸”
    df_selec = df[df.gu_name == gu_selec].loc[:, ['gu_name', 'dong_name', 
                                                  'ì¸êµ¬ì´ë™ì´í•©', 'ì§€í•˜ì² ì´ìš©ê°ì´í•©',
                                                  'ì§€í•˜ì² ê°œìˆ˜', 'ë²„ìŠ¤ì´ìš©ê°ì´í•©', 
                                                  'ë²„ìŠ¤ì •ë¥˜ì¥ê°œìˆ˜', 'ëŒ€í•™ìƒê¶Œê°œìˆ˜', 
                                                  'ê³µì›ì‹œì„¤ê°œìˆ˜', 'ì§‘ê°ì‹œì„¤ê°œìˆ˜', 
                                                  'ë¬¸í™”ì‹œì„¤ê°œìˆ˜', 'ì£¼ì°¨ì¥ê°œìˆ˜', 
                                                  'ì£¼ì°¨ì¥ë©´ì ', uj_selec]]

    # qcut ì ìš©í•  ì»¬ëŸ¼
    cols = df_selec.columns.difference(['gu_name', 'dong_name'])
    # qcut ì ìš© í…Œì´ë¸”
    df_selec_staring = df_selec[['gu_name', 'dong_name']]
    # ì˜¤ë¥˜ ë¬´ì‹œ setting
    warnings.filterwarnings(action='ignore')
    # ì»¬ëŸ¼ë³„ qcut ì ìš©
    for col in cols:
        df_selec_staring[col] = pd.qcut(df_selec[col], 10, labels=False, 
                                        duplicates = 'drop')
    # ì˜¤ë¥˜ ë¬´ì‹œ unset
    warnings.filterwarnings(action='default')

    # ì´í•©
    df_selec_staring['total_star'] = df_selec_staring.iloc[:, 2:].sum(axis=1)
    
    # ì •ë ¬
    df_star_final = df_selec_staring.sort_values(by='total_star', 
                                                 ascending=False)[['gu_name', 'dong_name', 'total_star']]
#     df_star_final['total_star'] = pd.qcut(df_star_final.total_star, 11, labels=False)
    
    return df_star_final.head(10)

## scoring ì‹¤í–‰í•˜ê¸°

In [4]:
star_list_poc(df)

âœ” êµ¬ë¥¼ ì„ íƒí•˜ì‹œì˜¤
ê´‘ì§„êµ¬ | ì†¡íŒŒêµ¬ | ê°•ë‚¨êµ¬ | ê´€ì•…êµ¬ | ë§ˆí¬êµ¬ | ë„ë´‰êµ¬ | ì„±ë¶êµ¬ | ê¸ˆì²œêµ¬ | ì€í‰êµ¬ | ìš©ì‚°êµ¬ | ê°•ë¶êµ¬ | ë™ëŒ€ë¬¸êµ¬ | êµ¬ë¡œêµ¬ | ì¤‘êµ¬ | ê°•ë™êµ¬ | ì¤‘ë‘êµ¬ | ì¢…ë¡œêµ¬ | ë…¸ì›êµ¬ | ì„±ë™êµ¬ | ì–‘ì²œêµ¬ | ì„œëŒ€ë¬¸êµ¬ | ê°•ì„œêµ¬ | ì„œì´ˆêµ¬ | ë™ì‘êµ¬ | ì˜ë“±í¬êµ¬ |
ê°•ë‚¨êµ¬

âœ” ì—…ì¢…ì„ ì„ íƒí•˜ì‹œì˜¤
ë¶„ì‹ì „ë¬¸ì  | í˜¸í”„.ê°„ì´ì£¼ì  | ì–‘ì‹ìŒì‹ì  | ì œê³¼ì  | í•œì‹ìŒì‹ì  | ì¤‘ì‹ìŒì‹ì  | í¸ì˜ì  | ì¼ì‹ìŒì‹ì  | ì»¤í”¼.ìŒë£Œ | íŒ¨ìŠ¤íŠ¸í‘¸ë“œì  | ì¹˜í‚¨ì „ë¬¸ì  | ìŠˆí¼ë§ˆì¼“ |
í•œì‹ìŒì‹ì

ğŸ“Š ê°•ë‚¨êµ¬ì˜ í•œì‹ìŒì‹ì  ì—…ì¢… ì¶”ì²œì§€ì—­ Top10 ê²°ê³¼ ğŸ“Š

    gu_name dong_name  total_star
275     ê°•ë‚¨êµ¬      ì—­ì‚¼1ë™          76
9       ê°•ë‚¨êµ¬      ì‚¼ì„±1ë™          70
188     ê°•ë‚¨êµ¬      ë…¼í˜„2ë™          67
88      ê°•ë‚¨êµ¬      ì••êµ¬ì •ë™          64
267     ê°•ë‚¨êµ¬       ì²­ë‹´ë™          54
300     ê°•ë‚¨êµ¬      ëŒ€ì¹˜2ë™          54
42      ê°•ë‚¨êµ¬      ë…¼í˜„1ë™          52
158     ê°•ë‚¨êµ¬      ëŒ€ì¹˜4ë™          48
390     ê°•ë‚¨êµ¬       ì‹ ì‚¬ë™          41
156     ê°•ë‚¨êµ¬      ë„ê³¡2ë™          39